// Link to font family
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Fjalla+One&family=Lato:ital@1&family=Truculenta&family=Yanone+Kaffeesatz&display=swap');

// How to declare these fonts
// font-family: 'Akaya Telivigala', cursive;
// font-family: 'Fjalla One', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Truculenta', sans-serif;
// font-family: 'Yanone Kaffeesatz', sans-serif;

// Color and Font Variables Declaration

// General Styling
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}