// Responsiveness For Landing Section 
@media(max-width: 425px) {
    #landing-section {
        h2 {
            font-size: 22px;
            font-weight: bold;
            padding-top: 7px;
        }

        p {
            font-size: 15px;
        }
    }
}

// Responsiveness For About Me Section
@media(max-width: 768px) {
    #about-me-section {
        margin: auto;
        max-width: 90%;
        .about-me-grid {
            grid-template-columns: 4fr;
        }

        img {
            display: none;
        }
    }
}

@media(max-width: 320px) {
    #about-me-section {
        margin: auto;
        max-width: 100%;
        padding-left: 0px;
        text-align: center;
    }
}

// Responsiveness For Services Section
@media(max-width: 768px) {
    #service-section {
        .service-section-grid {
            grid-template-columns: repeat(2, 2fr);
        }
    }
}

@media(max-width: 768px)  {
    #service-section {
        .service-section-grid {
            grid-template-columns: 2fr;
        }
    }
}