@import './config';
@import './about';
@import './projects';
@import './blog';
@import './contact';

// Landing Section Styling
#landing-section {
    padding: 120px 0;
    text-align: center;
    background: url(../images/shams1.jpg) no-repeat center center/cover;
    opacity: 0.9;
    color: black;
    font-family: 'Laila', sans-serif;
    background-attachment: fixed;
    background-position: center;
    height: 100%;

    img {
        max-width: 200px;
        border-radius: 50%;
        opacity: 1;
    }

    h2 {
        font-weight: bold;
    }

    p {
        font-size: 18px;
        padding-top: 8px;
        font-weight: bold;
        opacity: 1;
    }
}

// About Me and Skills Section
#about-me-section {
    .about-me-grid {
        display: grid;
        grid-template-columns: 2fr 2fr;
        border: 1px solid #ccc;
        margin: 30px auto;
        padding: 30px;
        background: #fff;
    }

    h2 {
        font-weight: bold;
    }

    .skill-image-sec {
        img {
            border-radius: 5px;
        }
    }

    .skills-grid {
        display: grid;
        grid-template-columns: 2fr 2fr;

        ul {
            margin-right: 30px;
        }

        li {
            list-style-type: none;
            padding-bottom: 10px;
        }
    }
}


// Responsiveness
@media(max-width: 768px) {
    #about-me-section {
        margin: auto;
        max-width: 90%;
        .about-me-grid {
            grid-template-columns: repeat(1, 4fr);
        }

        img {
            display: none;
        }
    }
}

@media(max-width: 425px) {
    #landing-section {
        h2 {
            font-size: 22px;
            font-weight: bold;
            padding-top: 7px;
        }

        p {
            font-size: 15px;
        }
    }
}