@import './config';
@import './about';
@import './projects';
@import './blog';
@import './contact';

// Landing Section Styling
#landing-section {
    padding: 120px 0;
    text-align: center;
    background: url(../images/shams1.jpg) no-repeat center center/cover;
    opacity: 0.9;
    color: black;
    font-family: 'Laila', sans-serif;
    background-attachment: fixed;
    background-position: center;
    height: 100%;

    img {
        max-width: 200px;
        border-radius: 50%;
        opacity: 1;
    }

    p {
        font-size: 18px;
        padding-top: 8px;
        font-weight: bold;
        opacity: 1;
    }
}

// Responsiveness
@media(max-width: 425px) {
    #landing-section {
        h2 {
            font-size: 22px;
            font-weight: bold;
            padding-top: 7px;
        }

        p {
            font-size: 15px;
        }
    }
}